/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Box sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 5rem;
  position: relative;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

/* Header */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #6b4c83;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: 1rem;
}

.nav-title {
  font-size: 1.5rem;
  color: white;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}

.container-embedded-text-hero.quiz-window-open {
  max-width: calc(100% - 25rem); /* Set a maximum width for the container */
}

/* Hero */
.hero {
  position: relative;
  background-image: url(../images/MDB-Background.png);
  background-size: cover;
  background-position: center;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.hero .title {
  position: relative;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 700;
  color: #6b4c83;
  padding: 1.4rem;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.hero .title h1 {
  font-size: 3rem;
}

/* Quiz */
#quiz-container {
  width: 100% !important;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.quiz-container {
  display: grid;
  grid-template-columns: 90%;
  gap: 1.4rem;
  padding: 0;
  width: 100% !important;
  height: 100%;
}

.quiz-container.active {
  grid-template-columns: 65% 30%;
}

.quiz-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  top: -19.6em;
  /* padding-right: 3em; */
}

.quiz-window {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.start-quiz-button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #6b4c83;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.start-quiz-button:hover {
  background-color: #4b345e;
}

.text-section-container {
  width: 100%;
  overflow: hidden;
}

.text-section {
  margin-bottom: 20px;
}

.embedded-text {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  background: #f9f9f9;
}

.quiz-window-close {
  background-color: #45567d;
}

.quiz-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #d7a3ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
}

.quiz-window-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.quiz-window-controls {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.quiz-window-controls button {
  background: #45567d;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
}

.quiz-window-controls button:hover {
  filter: brightness(90%);
}

.quiz-window-controls button:disabled {
  background: #ccc;
  color: white;
  cursor: not-allowed;
}

.quiz-window-content {
  z-index: 102;
  padding: 5rem;
}

.quiz-window-question {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quiz-window-answer-btn {
  border: none;
  background: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.quiz-window-answer-btn:hover {
  filter: brightness(90%);
}

.quiz-window-answer-btn:disabled {
  background: #ccc;
  color: white;
  cursor: not-allowed;
}

.quiz-window-hint {
  color: #6c757d;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  display: none;
  cursor: pointer;
}

.quiz-window-hint.open {
  display: block;
}

.quiz-window-resize {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.quiz-window-resize:focus {
  outline: none;
}

.question-options-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
}

.option {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
}

.option:hover {
  border-color: blue;
  transition: border-color 0.3s ease;
}

.option.selected:hover {
  border-color: blue;
}

.option input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}

.option label {
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option label::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.option input[type="radio"]:checked + label::before {
  display: none;
}

.option input[type="radio"]:checked + label::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.option.selected {
  border-color: blue;
}

.option input[type="radio"]:disabled + label {
  color: #ccc;
  cursor: not-allowed;
}

.option input[type="radio"]:disabled + label::before {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.option input[type="radio"]:disabled + label::after {
  background-color: #ccc;
}

.selected {
  background-color: beige;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.selected:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: translateY(2px);
}

.incorrect-retry {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: #6c757d;
}

.incorrect {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.text-section-container, .text-section, .text-section-white-space {
  box-sizing: border-box;
}

.embedded-text-left {
  position: relative;
  border: 2px solid #6b4c83;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  float: left;
  overflow: hidden;
}

.embedded-text-left:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 20%;
  border-left: 2px solid #6b4c83;
  overflow: hidden;
}

.embedded-text-right {
  position: relative;
  border: 2px solid #6b4c83;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  float: right;
  overflow: hidden;
}

.embedded-text-right:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 20%;
  border-right: 2px solid #6b4c83;
  overflow: hidden;
}

.embedded-text-middle {
  position: relative;
  border: 2px solid #6b4c83;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.embedded-text-middle:before,
.embedded-text-middle:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  border-right: 2px solid #6b4c83;
  overflow: hidden;
}

.embedded-text-middle:before {
  left: -10%;
  overflow: hidden;
}

.embedded-text-middle:after {
  right: -10%;
  overflow: hidden;
}

.text-section-container {
  width: 100%;
  overflow: hidden;
}

.text-section {
  margin-bottom: 20px;
}

.embedded-text {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  background: #f9f9f9;
}

.text-section-white-space {
  height: 1rem;
  overflow: hidden;
}

.embedded-text-h1,
.embedded-text-h2,
.embedded-text-h3,
.embedded-text-h4,
.embedded-text-p,
.embedded-text-b,
.embedded-text-strong,
.embedded-text-span,
.embedded-text-img,
.embedded-text-default {
  margin-bottom: 1.25rem;
  background-color: #ffffff;
}

.embedded-text-h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.embedded-text-h2 {
  font-size: 2rem;
  font-weight: bold;
}

.embedded-text-h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.embedded-text-h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.embedded-text-p {
  font-size: 1rem;
  line-height: 1.5;
}

.embedded-text-b {
  font-weight: bold;
  color: orange;
}

.embedded-text-strong {
  color: #4CAF50;
  font-style: italic;
  font-weight: bold;
}

.embedded-text-span {
  color: orange;
  font-style: italic;
  font-weight: bold;
}

.embedded-text-default {
  font-size: 1rem;
  line-height: 1.5;
}

/* Throbber/Loading animation */
.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.si-icon-hourglass {
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.si-icon-hourglass .si-icon {
  position: relative;
  display: inline-block;
  animation: fall 1s linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(100%);
  }
}

#content-wrapper {
  opacity: 0;
  transition: opacity 0.5s;
}

/* Screen Reader */
.current-word {
  background-color: yellow;
}

.screenreader-toolbar-container {
  text-align: center;
  margin: 20px auto;
}

#toolbar {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#toolbar button, #toolbar input[type="number"] {
  margin: 10px;
}

.auto-scroll-options {
  margin-top: 20px;
}

.auto-scroll-options label {
  margin-right: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.auto-scroll-dropdown {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.auto-scroll-option {
  padding: 10px;
  cursor: pointer;
}

.auto-scroll-option:hover {
  background: #f0f0f0;
}

#auto-scroll-dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

#auto-scroll-dropdown-button:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* Results Overlay */
.quiz-submission-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1001;
}

.overlay-content {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.overlay-content h2 {
  margin-bottom: 1rem;
}

/* The css for the dictionary searchbar and overlay on the quiz page */
.gsc-control-cs {
  /* position: sticky !important; */
  /* top: 10%;
  left: 10px; */
  /* z-index: 1000; */
  /* border: 2px solid #007bff; */
  /* border-radius: 5px;
  padding: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.gsc-control-cse {
  background-color: #ffffff !important;
  border: 1px solid #6b4c83 !important;
  padding: 10px 1px 8px 10px !important;
  border-radius: 5px !important;
}

/* Autocomplete results */
.gsc-input-box ul.gsc-results {
  position: fixed !important;
}

.google-search-box {
  /* position: sticky !important; */
  top: 10%;
  z-index: 101;
  /* border-color: 1px solid red; */
  width: 30%;
  position: fixed;
  padding: 5.5px;
  border-radius: 20px;
  /* background-color: blue; */
}

#cse .gsc-control-cse {
  background-color: red;
  border: 1px solid #fff;
}

#cse .gsc-search-box {
  width: 100%;  
}​

/* Style the input element */
.gsc-search-box .gsc-input-box {
  width: 20%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}

/* Hide the submit button */
.gsc-search-box input[type="submit"] {
  display: none;
}

/* Hide the blue glass effect */
.gsc-input-box-hover,
.gsc-input-box-focus {
  background-color: transparent;
}

.gsc-search-button {
  display: none;
}

.gsc-search-button-v2 {
  display: none;
}


