/* Header Styles */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10000; /* Ensure high z-index */
  padding: 10px 20px;
  background-color: #1A3A5F; /* Dark Blue background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90px; /* Specify the height of your header */
}

.menu-btn, .logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #D6A664; /* Gold text */
}

.menu-btn i, .logout-btn i {
  margin-right: 5px;
}

.logo {
  width: 8em;
  height: 4.5em;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: brightness(0) invert(1); /* Optional: Adjust logo colors to fit the new scheme */
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9990; /* Lower than header */
}

.menu {
  position: fixed;
  top: 0;
  left: -2000px;
  width: 30%;
  height: 100vh;
  background-color: #5C7E9C; /* Muted Blue background */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 9991; /* Lower than header */
}

.menu ul {
  margin-top: 5.75em;
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.menu ul li a {
  color: #F5F5F5; /* Light Gray text */
  text-decoration: none; /* Remove underline */
  display: block;
  width: 100%; /* Ensure link covers full width of li */
  height: 100%; /* Ensure link covers full height of li */
}

.menu ul li:hover {
  background-color: #D6A664; /* Gold background on hover */
}

.menu ul li:hover a {
  color: #1A3A5F; /* Dark Blue text on hover */
}

.menu-open {
  left: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #5C7E9C; /* Muted Blue background */
  color: #F5F5F5; /* Light Gray text */
  position: relative; /* Ensure absolute positioning of children */
}

.close {
  color: #F5F5F5;
  position: absolute; /* Absolute positioning within modal-content */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #D6A664;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-logout {
  width: 150px;
}
